.chips-container {
  justify-content: flex-start;
  .chip-container {
    flex-grow: 0;
  }
  ion-chip {
    cursor: pointer;
    background-color: #fff;
    color: #667085;
    border: 1px solid #e1e3e6;
    border-radius: 48px;
    padding: 4px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    ion-label {
      color: #667085;
      font-family: Nunito;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
    &.on {
      background-color: #f4f1fe;
      border-color: #63f;
      color: #63f;
      ion-label {
        color: #63f;
      }
    }
  }
}
