ion-content {
  --background: url("/assets/subscribe-bg.png");
  --padding-top: 112px;
  --padding-bottom: 112px;
  --padding-start: 64px;
  --padding-end: 64px;
  #divider {
    width: 100%;
    margin: 16px 0;
    border: 0.5px solid #f2f2f2;
  }
  ion-input.custom-input {
    --color: #344054;
    --placeholder-color: #667085;
    label > .label-text {
      color: var(--gray-700, #344054);
      font-family: Nunito;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
  }
  ion-radio-group.custom-radio {
    color: #000;
    display: flex;
    gap: 8px;
    ion-radio {
      border: 1px solid #d0d5dd;
      border-radius: 8px;
      background: #fff;
      padding: 10px 14px;
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      flex: 1 0 0;
      &::part(container) {
        width: 16px;
        height: 16px;
        border: none;
      }
      &::part(mark) {
        width: 16px;
        height: 16px;
        background: none;
        transition: none;
        transform: none;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M7.99992 1.33337C4.31992 1.33337 1.33325 4.32004 1.33325 8.00004C1.33325 11.68 4.31992 14.6667 7.99992 14.6667C11.6799 14.6667 14.6666 11.68 14.6666 8.00004C14.6666 4.32004 11.6799 1.33337 7.99992 1.33337ZM7.99992 13.3334C5.05992 13.3334 2.66659 10.94 2.66659 8.00004C2.66659 5.06004 5.05992 2.66671 7.99992 2.66671C10.9399 2.66671 13.3333 5.06004 13.3333 8.00004C13.3333 10.94 10.9399 13.3334 7.99992 13.3334ZM11.0599 5.05337L6.66659 9.44671L4.93992 7.72671L3.99992 8.66671L6.66659 11.3334L11.9999 6.00004L11.0599 5.05337Z" fill="%23D0D5DD"/></svg>');
      }
      &.radio-checked {
        border-color: #896af9;
      }
      &.radio-checked::part(mark) {
        border: none;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M7.99992 1.33337C4.31992 1.33337 1.33325 4.32004 1.33325 8.00004C1.33325 11.68 4.31992 14.6667 7.99992 14.6667C11.6799 14.6667 14.6666 11.68 14.6666 8.00004C14.6666 4.32004 11.6799 1.33337 7.99992 1.33337ZM7.99992 13.3334C5.05992 13.3334 2.66659 10.94 2.66659 8.00004C2.66659 5.06004 5.05992 2.66671 7.99992 2.66671C10.9399 2.66671 13.3333 5.06004 13.3333 8.00004C13.3333 10.94 10.9399 13.3334 7.99992 13.3334ZM11.0599 5.05337L6.66659 9.44671L4.93992 7.72671L3.99992 8.66671L6.66659 11.3334L11.9999 6.00004L11.0599 5.05337Z" fill="%23896AF9"/></svg>');
      }
    }
  }
  ion-select.custom-select {
    color: #202124;
    --border-color: #d0d5dd;
    --border-radius: 8px;
    border-radius: 8px;
    --padding-start: 14px;
    --padding-end: 14px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    min-height: 44px;
    height: 44px;
    box-sizing: content-box;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    &::part(container) {
      width: 100%;
      justify-content: space-between;
    }
    &::part(icon) {
      color: #1f1f1f;
    }
    &::part(placeholder) {
      color: #667085;
      font-family: Nunito;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
  ion-button.subscribe {
    --background: #fff;
    --color: #896af9;
    --border-color: #896af9;
    --border-width: 1px;
    --border-style: solid;
    --border-radius: 16px;
    --box-shadow: 4px 4px 0px -1px #896af9;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 26px;
    --padding-end: 26px;

    span {
      font-family: Nunito;
      font-size: 23px;
      font-style: normal;
      font-weight: 900;
      line-height: 38.4px;
      text-transform: capitalize;
    }
  }
  .date-selectors {
    gap: 6px;
  }
  .label {
    color: #344054;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    margin-bottom: 6px;
    margin-top: 0;
  }
  .form {
    margin-inline: auto;
    border-radius: 24px;
    box-shadow: 0px 0px 52px 0px rgba(185, 169, 205, 0.2);
    ion-grid {
      --ion-grid-padding: 0;
    }
    ion-col {
      --ion-grid-column-padding: 32px;
      //   border-radius: 24px;
    }
    &__fields {
      background-color: #fff;
    }
    &__summary {
      background: #f1edfe;
      &__header {
        color: #202124;
        text-align: start;
        font-family: Nunito;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 31.999px; /* 133.33% */
      }
      &__sub-header {
        color: #202124;
        text-align: start;
        font-family: Nunito;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.1px;
      }
      ion-card.cart {
        --background: #fff;
        padding: 16px 16px 40px 16px;
        border-radius: 8px;
        box-shadow: none;
        margin-bottom: 24px;
      }
      .cart {
        &__item {
          color: #202124;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; /* 150% */
          span {
            font-weight: 400;
          }
          &__subtext {
            color: #838383;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */
          }
          &__left {
            text-align: end;
          }
        }
      }
      .breakdown {
        &__key {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 21px */
          margin: 0;
          color: #000;
        }
        &__value {
          color: #202124;
          text-align: right;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px; /* 150% */
          margin: 0;
          &__small {
            font-size: 14px;
            font-weight: 400;
            color: #707070;
          }
          span {
            color: #202124;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
        &__row:not(:last-child) {
          margin-bottom: 11px;
        }
        &__row:last-child {
          .breakdown__key {
            color: #333;
            font-size: 17px;
            font-weight: 600;
          }
          .breakdown__value {
            font-size: 20px;
            span {
              font-size: 20px;
            }
          }
        }
      }
      #divider {
        border-color: #d1c5fb;
      }
    }
    &__header {
      color: #202124;
      text-align: start;
      font-family: Nunito;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 31.999px; /* 133.33% */
      margin: 0;
      &__subtext {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.1px;
        margin-top: 2px;
      }
    }
    &__section {
      margin-bottom: 32px;
      > *:not(:last-child):not(:first-child) {
        margin-bottom: 24px;
      }
      &__header {
        color: #202124;
        font-family: Nunito;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 31.999px; /* 159.996% */
        margin-bottom: 8px;
        margin-top: 0;
      }
    }
  }
}

ion-content::part(background) {
  background-size: cover;
}
