<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>subscribe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="form">
    <ion-grid>
      <ion-row>
        <ion-col class="form__fields">
          <ion-row>
            <ion-col class="ion-no-padding">
              <p class="form__header">Subscribe</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-no-padding">
              <p class="form__header form__header__subtext">
                to our Monthly Surprise Box
              </p>
            </ion-col>
          </ion-row>
          <div id="divider"></div>
          <div class="form__section">
            <ion-row>
              <ion-col class="ion-no-padding">
                <p class="form__section__header">Contact Information</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-input
                  label="Your Name"
                  labelPlacement="stacked"
                  placeholder="e.g Osama Alshathri"
                  class="custom-input"
                ></ion-input> </ion-col
            ></ion-row>
            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-input
                  label="Email"
                  labelPlacement="stacked"
                  placeholder="Osama@gmail.com"
                  class="custom-input"
                ></ion-input> </ion-col
            ></ion-row>
          </div>
          <div class="form__section">
            <p class="form__section__header">Child’s Information</p>

            <ion-row>
              <ion-col class="ion-no-padding">
                <ion-input
                  label="Child’s Full Name"
                  labelPlacement="stacked"
                  placeholder="e.g Sarah Mohammad"
                  class="custom-input"
                ></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding">
                <p class="label">Child’s Date of Birth</p>
                <ion-row class="date-selectors">
                  <ion-col class="ion-no-padding">
                    <ion-select
                      class="custom-select"
                      placeholder="Date"
                      fill="outline"
                    >
                      <ion-select-option value="apple">Apple</ion-select-option>
                      <ion-select-option value="banana"
                        >Banana</ion-select-option
                      >
                      <ion-select-option value="orange"
                        >Orange</ion-select-option
                      >
                    </ion-select></ion-col
                  >
                  <ion-col class="ion-no-padding"
                    ><ion-select
                      class="custom-select"
                      placeholder="Month"
                      fill="outline"
                    >
                      <ion-select-option value="apple">Jan</ion-select-option>
                      <ion-select-option value="banana"
                        >Banana</ion-select-option
                      >
                      <ion-select-option value="orange"
                        >Orange</ion-select-option
                      >
                    </ion-select></ion-col
                  >
                  <ion-col class="ion-no-padding"
                    ><ion-select
                      class="custom-select"
                      placeholder="Year"
                      fill="outline"
                    >
                      <ion-select-option value="apple">Apple</ion-select-option>
                      <ion-select-option value="banana"
                        >Banana</ion-select-option
                      >
                      <ion-select-option value="orange"
                        >Orange</ion-select-option
                      >
                    </ion-select></ion-col
                  >
                </ion-row>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding">
                <p class="label">Grade</p>
                <ion-select
                  placeholder="e.g Grade 2"
                  fill="outline"
                  interface="action-sheet"
                  class="custom-select"
                >
                  <ion-select-option value="1">Grade 1</ion-select-option>
                  <ion-select-option value="2">Grade 2</ion-select-option>
                  <ion-select-option value="3">Grade 3</ion-select-option>
                </ion-select></ion-col
              >
            </ion-row>

            <ion-row>
              <ion-col class="ion-no-padding">
                <p class="label">Gender</p>
                <ion-radio-group
                  class="custom-radio"
                  value="gender"
                  [allowEmptySelection]="true"
                >
                  <ion-radio value="boy">Boy</ion-radio>
                  <ion-radio value="girl">Girl</ion-radio>
                </ion-radio-group>
              </ion-col>
            </ion-row>
          </div>
          <div class="form__section">
            <p class="form__section__header">As a parent select any 3 topics</p>
            <ion-row>
              <ion-col class="ion-no-padding">
                <app-chips-select
                  [labels]="['Arabic', 'Islamic', 'English', 'History', 'Sports' ]"
                ></app-chips-select>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
        <ion-col class="form__summary"></ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
